/* ResTemp3.css */

.restemp3-resume {
  font-family: "Arial", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restemp3-resume header {
  text-align: center;
  margin-bottom: 20px;
}

.restemp3-resume h1 {
  font-size: 36px;
  margin: 0;
  color: #333;
}

.restemp3-resume .restemp3-job-title {
  font-size: 20px;
  margin: 5px 0;
  color: #777;
}

.restemp3-resume section {
  margin-bottom: 30px;
}

.restemp3-resume h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.restemp3-resume p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.restemp3-resume ul {
  list-style-type: none;
  padding: 0;
}

.restemp3-resume li {
  margin-bottom: 5px;
}

.restemp3-resume strong {
  font-weight: bold;
}

.restemp3-resume .restemp3-summary-content {
  font-style: italic;
  color: #777;
}

/* Contact section styles */
.restemp3-contact-info {
  margin-left: 20px;
}

.restemp3-contact-info p {
  display: flex;
  align-items: center;
}

.restemp3-contact-info p svg {
  margin-right: 10px;
  color: #007bff;
}

/* Education and Experience section styles */
.restemp3-education-info,
.restemp3-experience-info {
  margin-bottom: 20px;
}

.restemp3-education-info h3,
.restemp3-experience-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* Skills section styles */
.restemp3-skills-list {
  padding-left: 20px;
}

.restemp3-skills-list li {
  font-style: italic;
  color: #555;
}

/* Summary section styles */
.restemp3-summary-section {
  font-style: italic;
  color: #777;
}
