.user-exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  /* height: 25vh; */
}

.user-exp-top-buttons{
  display: flex;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: flex-end;
  /* width: 20%; */
  /* padding: 10px; */
  margin: 10px;
  border-bottom: 2px solid black;
}

.user-exp-next-btn-div{
    text-decoration: none;
    text-decoration-line: none;
    display: flex;
    /* width: 97%; */
    justify-content: flex-end;
    padding: 10px;
}

.user-exp-back-btn{
  cursor: pointer;
  border: 2px solid lightblue;
  padding: 10px;
  border-radius: 8px;
}

.user-exp-back-btn:hover{
  background-color: red;
  color: white;
}

.user-exp-next-btn{
    cursor: pointer;
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 8px;
}

.user-exp-next-btn:hover{
  background-color: lightblue;
  color: white;
}

.user-exp-wrap {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  /* height: 5vh; */
}

.user-exp-wrap input{
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.user-exp-wrap input:focus{
  border-color: #0066cc;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.3);
  outline: none;
}


.user-exp-work-summary-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-exp-work-summary-div input:focus {
  border-color: #0066cc;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.3);
  outline: none;
  text-align: start;
}

.user-exp-work-summary-div input {
  height: 25vh;
  width: 95%;
}

.user-exp-work-summary-div input {
  margin-top: 10px;
  height: 25vh;
  width: 95%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* Ensure cursor starts from the top left */
  caret-color: #333; /* Adjust color as needed */
}

.user-exp-add-exp-btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.user-exp-add-exp-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.user-exp-add-exp-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.user-exp-add-exp-btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* The switch - the box around the slider */
.switch {
  /* Variables */
 --switch_width: 2em;
 --switch_height: 1em;
 --thumb_color: #e8e8e8;
 --track_color: #e8e8e8;
 --track_active_color: #888;
 --outline_color: #000;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 box-sizing: border-box;
 border: 2px solid var(--outline_color);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--track_color);
 transition: .15s;
 border-radius: var(--switch_height);
}

.slider:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--outline_color);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--thumb_color);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--outline_color);
 transition: .15s;
}

input:checked + .slider {
 background-color: var(--track_active_color);
}

input:focus-visible + .slider {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}


.delete-btn{
  position: absolute;
  font-size: 28px;
  left: 31%;
  /* bottom: 10px; */
  
  cursor: pointer;
}

.user-exp-add-exp-btn{
  color: black;
}