* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}

body {
  font-family: "Lexend", sans-serif;
}

.logo {
  width: 100%;
  max-width: 154px; 
}

.hamburger-icon{
  display: none;
  /* visibility: hidden; */
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  top: 0;
  position: fixed; /* Make the navbar fixed at the top */
  background-color: rgba(255, 255, 255, 0.95); /* Slightly transparent background */
  z-index: 1000; /* Ensure it's above other content */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Lighter border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Softer shadow */
  backdrop-filter: blur(10px); /* Soft blur effect on the background content */
}


.top-left {
  display: flex;
  align-items: center;
}

.navi-bar {
  display: flex;
  /* border: 2px solid black; */
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
  max-width: 100rem; 
}

.middle {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  flex: 0.8; 
}

.top-right {
  display: flex;
  /* border: 2px solid salmon; */
  align-items: center;
  width: 15rem;
  justify-content: space-between;
}

.login {
  color: black;
}

.context,
.pointer {
  cursor: pointer;
}

.context {
  position: relative;
  text-decoration: none;
  color: grey;
  /* border: 2px solid black; */
  display: inline-block;
  font-size: 18px;
}

.context::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.5s ease;
}

.context:hover::after {
  width: 100%;
}

.content {
  background: rgba(255, 255, 255, 1);
  font-family: "Rubik", sans-serif;
  display: flex;
  height: auto; 
  padding: 25px;
  width: 100%;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100;
  max-width: 40rem; 
}

.content-left {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 30px;
  line-height: 25px;
  color: black;
  letter-spacing: 1.4px;
}

.content-left h1 {
  font-size: clamp(28px, 3.8vw, 55px); 
  line-height: 120%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  /* margin-bottom: 27px; */
}

.content-left p{
  padding-top: 10px;
  font-size: 20px;
  color: rgb(150, 150, 150);
}

.description {
  width: 100%; /* Updated to 100% */
  font-weight: 500;
}

.get-started-btn {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.features-div {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-heading h2 {
  font-size: clamp(28px, 3.8vw, 55px); 
  font-weight: 540;
}

.features-heading {
  font-size: clamp(28px, 3.8vw, 55px);
  font-weight: light;
  text-align: center;
}

.features {
  /* border: 2px solid; */
  width: 80vw;
  max-width: 1100px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 45px;
  justify-content: center;
}

.feature {
  height: auto; 
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid salmon;
  border-radius: 10px;
}

.splide-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.splide-heading {
  font-size: clamp(28px, 3.8vw, 55px); 
  font-weight: light;
  text-align: center;
}

.splide {
  padding: 20px 0;
  width: 100%;
}

.splide__slide {
  border: 2px solid slateblue;
  height: 30rem;
  display: block;
  border-radius: 8px;
  transition: transform 400ms;
  transform: scale(0.85);
  transform-origin: center center;
  transition: ease-in-out 0.3s;
}

.splide__slide p {
  text-align: center;
}

.splide__slide.is-active {
  transform: scale(1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.splide .splide__arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  transform: none;
  border-radius: unset;
  width: 50px;
  opacity: 0.9;
}

.splide__arrow.splide__arrow--prev {
  border: 2px solid transparent;
  left: 0;
}

.splide__arrow.splide__arrow--next {
  right: 0;
  border: 2px solid transparent;
}

.splide__pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.splide__pagination__page {
  border: 2px solid salmon;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}

.splide__pagination__page.is-active {
  background-color: black;
}

.example-heading {
  font-size: clamp(28px, 3.8vw, 55px); /* Updated for dynamic resizing */
  font-weight: light;
  text-align: center;
}

.examples {
  margin: 20px;
  border: 2px solid black;
  padding: 30px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.example {
  border: 2px solid salmon;
  height: 70vh; /*should change the height to auto afterwards once i got the API */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.example:hover {
  transform: scale(1.05);
}

.menu-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border: 2px solid;
  margin-top: 100px;
  width: 100vw;
  background-color: yellow;
  height: 81.7vh;
  position: fixed;
}

.close-div{
  position: absolute;
  right: 25px;
  top: 0;
}

.dashboard-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  
  height: 100vh;
}


@media (max-width: 1024px){
  .context{
    text-align: start;
  }
}

@media (max-width: 768px) {

  .menu-content{
    /* display: none; */
  }

  .menu-content.active{
    display: flex;
    flex-direction: column;
    float: left;
  }

  .hamburger-icon{
    display: inline;
    height: 9vh;
    width: 2rem;
    /* border: 2px solid; */
  }

  .middle, .top-right {
    /* flex-direction: column; */
    align-items: center;
  }

  .middle{
    display: none;
  }

  .nav-bar{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
  }

  .navi-bar{
    justify-content: center;
    /* border: 2px solid; */
    max-width: 18rem;
  }

  .context {
    font-size: 1.4rem; 
    padding: 0.5rem 0; 
  }

  .content {
    flex-direction: column;
    padding: 20px;
  }

  .content-left{
    margin-top: 5rem;
    height: 70vh;
  }

  .content-left h1{
    font-size: 50px;
  }

  .content-left, .content-right {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .content-right-img{
    display: none;
  }

  .get-started-btn{
    justify-content: center;
  }

  .features {
    grid-template-columns: 1fr;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid; */
    align-items: center;
  }

  .feature {
    width: 90%;
    height: auto; 
  }

  .examples{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .example{
    width: 60%;
  }

  .menu-content{
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  
}
