.user-input-full-div{
    border: 2px solid black;
    height: 100vh;
    overflow-y: auto;
    width: 69vw;
    overflow-x: hidden;
}

.user-input-div{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 40vw;
    height: 100vh;
    margin: 10px;
}

.user-input-next-btn-div{
    text-decoration: none;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    /* margin: 10px; */
    border-bottom: 2px solid black;
}

.user-input-next-btn{
    cursor: pointer;
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 8px;
}

.user-input-next-btn:hover{
    background-color: lightblue;
    color: white;
}


.user-input-top{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14vh;
}

.user-input-top h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
}

.user-input-top p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.user-input{
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

.user-input-wrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
}

.user-input-wrap input{
    width: 230px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8; 
    font-size: 16px; 
    color: #333; 
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* .user-input-wrap label{
    font-weight: ;
} */

.user-input-wrap input:focus{
    border-color: #0066cc; 
    box-shadow: 0 0 8px rgba(0, 102, 204, 0.3);
    outline: none;
}

.pro-description{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    justify-content: start;
    /* border: 2px solid black; */
}

.pro-description label{
    display: flex;
    align-items: start;
    justify-content: start;
    /* border: 2px solid slateblue; */
    width: 80%;
    padding: 5px;
}

.pro-description textarea{
    border: 2px solid red;
    display: flex;
    margin: 15px;
    resize: none;
    width: inherit;
    height: 150px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8; 
    font-size: 16px; 
    color: #333; 
    transition: border-color 0.3s, box-shadow 0.3s;
}