.user-education {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  font: inherit;
  vertical-align: baseline;
  --webkit-font-smoothing: antialiased;
}

.user-edu-wrap {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-edu-wrap input {
  width: 230px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box; 
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8; 
  font-size: 16px; 
  color: #333; 
  transition: border-color 0.3s, box-shadow 0.3s;
}

.user-edu-wrap input:focus {
  border-color: #0066cc;
  box-shadow: 0 0 8px rgba(0, 102, 204, 0.3);
  outline: none;
}

.add-more-btn-div{
  display: flex;
  justify-content: start;
  padding: 15px;
}

.add-more-btn-div div {
  background-color: black; 
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.add-more-btn-div div:hover {
  background-color: rgb(235, 235, 235); 
  color: black;
  transform: scale(1.05);
}